<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="template">
            {{msg}}
            12313123
            <h1>hhhhhhh</h1>
        </div>

        <template id="aaa">
            <h2>Template模版写法二---标签模版</h2>
        </template>

        <script type="x-template" id="bbb">
            <h2>Template模版写法三 使用script标签</h2>

        </script>

        <script type="text/javascript" src="../../../assets/js/vue.js"></script>

        <script src="../../../assets/js/page/options/Template/template.js"></script>
    </body>
</html>